<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{title}} - microblog</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <link href="{{ url_for('static', filename="favicon.ico") }}"
      rel="shortcut icon" type="image/x-icon">

    <link href="{{ url_for('static', filename="latitude.css") }}"
      rel="stylesheet">


    {% block head %}<!-- NO CUSTOM HEAD RESOURCES -->{% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    <hr>
    {% endwith %}

      {% block content %}{% endblock %}
  </body>
</html>
