{% extends "base.html" %}


{% block head %}

    <link href="{{ url_for('static', filename="ol/ol.css") }}"
        rel="stylesheet">
    <script type="text/javascript"
        src="{{ url_for('static', filename="ol/ol.js") }}"></script>

    <!-- map.js has a loaded method that populates in any id=='map' -->
    <script type="text/javascript"
        src="{{ url_for('static', filename="map.js") }}"></script>

{% endblock %}

{% block content %}
    <h3>A simple map demo</h3>
    <div id="map" class="map">&nbsp;</div>
{% endblock %}
